/*
turquoise = #1abc9c
textwhite = #FFFF
blue = #2C3E50
grey = #E1E3E4
*/


body {
  background-color: #E1E3E4;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.bannerspacing {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.title h1, .title h2 {
  color: #2C3E50;
}
.title h1 {
  font-size: 5rem;
}
.title h2 {
  font-size: 1rem;
}
.info {
  display: flex;
  align-items: center;
}
.info li {
  padding: 18px 30px 18px 30px;
  color: #2C3E50;
}
.info a {
  color: #2C3E50;
}
.info li:hover {
  background-color: #FFFF;
  transition: 0.2s all;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
  border-radius: 10px;
}
.logo img {
  height: 176px;
}
a {
  text-decoration: none;
  color: #FFFF;
}
.fullnav {
  width: 100%;
  height: 60px;
  background-color: #2C3E50;
  align-items: center;
  display: flex;
}
.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
}
nav li {
  padding: 21px 30px 21px 30px;
}
.home {
  background-color: #1abc9c;
}
nav li:hover {
  background-color: #1abc9c;
  transition: 0.2s all;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.pageheader {
  height: 76px;
  width: 100%;
  background-image: url("images/img9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
