/*
turquoise = #1abc9c
textwhite = #FFFF
blue = #2C3E50
grey = #E1E3E4
*/
* {

}
body {
  background-color: #E1E3E4;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.bannerspacing {
  width: 1000px;
  display: flex;
}
.logo img {
  height: 140px;
  margin-left: 350px;
}
a {
  text-decoration: none;
  color: #FFFF;
}
.fullnav {
  width: 100%;
  height: 60px;
  background-color: #2C3E50;
  align-items: center;
  display: flex;
}
.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
}
nav li {
  padding: 19px 30px 20px 30px;
}
.acceuil {
  background-color: #1abc9c;
}
nav li:hover {
  background-color: #1abc9c;
  transition: 0.2s all;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
