/*
turquoise = #1abc9c
textwhite = #FFFF
blue = #2C3E50
grey = #E1E3E4
*/
html {
  font-size: 18px;
  font-family: "Open Sans";
  background-color: #E1E3E4;
}
.bannerspacing {
  width: 1000px;
}
.logo img {
  height: 140px;
}
a {
  text-decoration: none;
  color: #FFFF;
}
.fullnav {
  width: 100%;
  height: 60px;
  background-color: #2C3E50;
}
nav ul {
  display: flex;
}
